<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8;">
    <title>美食天下</title>
    <link rel="stylesheet" type="text/css" href="https://static.meishichina.com/v6/css/lib/all.css?v1=11">
    <link rel="stylesheet" href="../public/stylesheets/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../public/stylesheets/homePage.css">
    <link rel="stylesheet" type="text/css" href="https://static.meishichina.com/v6/css/lib/all.css?v1=11">
    <link rel="stylesheet" type="text/css" href="https://static.meishichina.com/v6/css/lib/wwwindex2.css?v1=2018-04-23">
</head>
<body>
<div class="top-bar" id="J_top_bar">
    <ul class="bar-left left">
        <li><a title="美食天下" href="" target="_blank" class="top_bar_logo">首页</a></li>
        <li> <a title="菜谱" href="" target="_blank">菜谱</a></li>
        <li> <a title="社区" href="" target="_blank">社区</a></li>
    </ul>
    <div class="right" id="J_top_bar_user">
        <ul class="clear bar-info right bar-noLogin" id="J_barUser">
            <li class="bar-item bar-loading images-loading bar-link"></li>
            <li class="bar-link bar-item bar-reg">
                <a href="" target="_blank">注册/注册</a>
            </li>
            <li class="bar-user J_down bar-item">
                <div class="bar-text">
                    <div class="bar-text-userName" id="J_barUserName"></div>
                    <i class="arrow"></i>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="main">
    <div>
        <div class="layui-carousel" id="test1" style="text-align: center;">
            <div carousel-item >
                <div><img src="https://i3.meishichina.com/attachment/magic/2018/12/12/2018121215445824093428197577.jpg" ></div>
                <div><img src="https://i3.meishichina.com/attachment/magic/2018/12/07/2018120715441503252468197577.jpg" ></div>
                <div><img src="https://i3.meishichina.com/attachment/magic/2018/12/04/2018120415438891202028197577.jpg"></div>
                <div><img src="https://i3.meishichina.com/attachment/magic/2018/11/26/2018112615431992195218197577.jpg"></div>
                <div><img src="https://i3.meishichina.com/attachment/magic/2018/11/19/2018111915425940957398197577.jpg"></div>
            </div>
        </div>
    </div>
    <div class="w5">
        <div class="ui_title">
            <div class="ui_title_wrap clear">
                <h3 class="on">推荐菜谱</h3>
            </div>
        </div>
        <div class="big4_list clear mt10">
            <ul class="on" style="display: block;">
                <li>
                    <a title="萝卜蒸鲅鱼" href="https://home.meishichina.com/recipe-432361.html" target="_blank">
                        <i>
                            <img alt="萝卜蒸鲅鱼" class="imgLoad" src="https://i3.meishichina.com/attachment/recipe/2018/12/18/2018121815451030442369702111.jpg?x-oss-process=style/c320" style="display: block;">
                        </i>
                        <p>萝卜蒸鲅鱼</p>
                    </a>
                    <a title="石榴树2008" href="https://home.meishichina.com/space-7756041.html" target="_blank" class="u">石榴树2008</a>
                </li>
                <li>
                    <a title="百香果磅蛋糕" href="https://home.meishichina.com/recipe-432359.html" target="_blank">
                        <span class="copyright">独家</span>
                        <i>
                            <img alt="百香果磅蛋糕" class="imgLoad" src="https://i3.meishichina.com/attachment/recipe/2018/12/18/2018121815451028073149702111.jpg?x-oss-process=style/c320" style="display: block;">
                        </i>
                        <p>百香果磅蛋糕</p>
                    </a>
                    <a title="双手暖心" href="https://home.meishichina.com/space-9037209.html" target="_blank" class="u">双手暖心</a>
                </li>
                <li>
                    <a title="冬笋炖排骨" href="https://home.meishichina.com/recipe-432356.html" target="_blank">
                        <span class="copyright">独家</span>
                        <i>
                            <img alt="冬笋炖排骨" class="imgLoad" src="https://i3.meishichina.com/attachment/recipe/2018/12/18/2018121815451027178479702111.jpg?x-oss-process=style/c320" style="display: block;">
                        </i>
                        <p>冬笋炖排骨</p>
                    </a>
                    <a title="逝去的爱情" href="https://home.meishichina.com/space-10454906.html" target="_blank" class="u">逝去的爱情</a>
                </li>
                <li>
                    <a title="玫瑰花抱蛋煎饺" href="https://home.meishichina.com/recipe-432265.html" target="_blank">
                        <i>
                            <img alt="玫瑰花抱蛋煎饺" class="imgLoad" src="https://i3.meishichina.com/attachment/recipe/2018/12/18/2018121815451023076609702111.jpg?x-oss-process=style/c320" style="display: block;">
                        </i>
                        <p>玫瑰花抱蛋煎饺</p>
                    </a>
                    <a title="格蓝蓝" href="https://home.meishichina.com/space-8240784.html" target="_blank" class="u">格蓝蓝</a>
                </li>
                <li>
                    <a title="榨菜片鸭蛋炒荷兰豆" href="https://home.meishichina.com/recipe-432358.html" target="_blank">
                        <i>
                            <img alt="榨菜片鸭蛋炒荷兰豆" class="imgLoad" src="https://i3.meishichina.com/attachment/recipe/2018/12/18/2018121815451020558299702111.jpg?x-oss-process=style/c320" style="display: block;">
                        </i>
                        <p>榨菜片鸭蛋炒荷兰豆</p>
                    </a>
                    <a title="花鱼儿" href="https://home.meishichina.com/space-404188.html" target="_blank" class="u">花鱼儿</a>
                </li>
                <li>
                    <a title="红太阳菜馍" href="https://home.meishichina.com/recipe-432347.html" target="_blank">
                        <i>
                            <img alt="红太阳菜馍" class="imgLoad" src="https://i3.meishichina.com/attachment/recipe/2018/12/18/2018121815451017112889702111.jpg?x-oss-process=style/c320" style="display: block;">
                        </i>
                        <p>红太阳菜馍</p>
                    </a>
                    <a title="英英菜谱" href="https://home.meishichina.com/space-6968441.html" target="_blank" class="u">英英菜谱</a>
                </li>
                <li>
                    <a title="莲藕脊骨汤" href="https://home.meishichina.com/recipe-432353.html" target="_blank">
                        <span class="copyright">独家</span>
                        <i>
                            <img alt="莲藕脊骨汤" class="imgLoad" src="https://i3.meishichina.com/attachment/recipe/2018/12/18/2018121815451015978949702111.jpg?x-oss-process=style/c320" style="display: block;">
                        </i>
                        <p>莲藕脊骨汤</p>
                    </a>
                    <a title="双手暖心" href="https://home.meishichina.com/space-9037209.html" target="_blank" class="u">双手暖心</a>
                </li>
                <li>
                    <a title="萝卜丝炒芹菜" href="https://home.meishichina.com/recipe-432348.html" target="_blank">
                        <span class="copyright">独家</span>
                        <i>
                            <img alt="萝卜丝炒芹菜" class="imgLoad" src="https://i3.meishichina.com/attachment/recipe/2018/12/18/2018121815451015084019702111.jpg?x-oss-process=style/c320" style="display: block;">
                        </i>
                        <p>萝卜丝炒芹菜</p>
                    </a>
                    <a title="逝去的爱情" href="https://home.meishichina.com/space-10454906.html" target="_blank" class="u">逝去的爱情</a>
                </li>
                <li>
                    <a title="网红奶酪包" href="https://home.meishichina.com/recipe-431752.html" target="_blank">
                        <i>
                            <img alt="网红奶酪包" class="imgLoad" src="https://i3.meishichina.com/attachment/recipe/2018/12/18/2018121815450972819149702111.jpg?x-oss-process=style/c320" style="display: block;">
                        </i>
                        <p>网红奶酪包</p>
                    </a>
                    <a title="模样生活MyLiving" href="https://home.meishichina.com/space-7952871.html" target="_blank" class="u">模样生活MyLiving</a>
                </li>
                <li>
                    <a title=" 牛油果藜麦糕——宝宝辅食" href="https://home.meishichina.com/recipe-432337.html" target="_blank">
                        <i>
                            <img alt=" 牛油果藜麦糕——宝宝辅食" class="imgLoad" src="https://i3.meishichina.com/attachment/recipe/2018/12/18/2018121815450971219159702111.jpg?x-oss-process=style/c320" style="display: block;">
                        </i>
                        <p> 牛油果藜麦糕</p>
                    </a>
                    <a title="一日五餐辅食" href="https://home.meishichina.com/space-10340734.html" target="_blank" class="u">一日五餐辅食</a>
                </li>
                <li>
                    <a title="香葱肉松号角面包" href="https://home.meishichina.com/recipe-432335.html" target="_blank">
                        <i>
                            <img alt="香葱肉松号角面包" class="imgLoad" src="https://i3.meishichina.com/attachment/recipe/2018/12/18/2018121815450965912829724956.jpg?x-oss-process=style/c320" style="display: block;">
                        </i>
                        <p>香葱肉松号角面包</p>
                    </a>
                    <a title="小耳Maggie" href="https://home.meishichina.com/space-7946961.html" target="_blank" class="u">小耳Maggie</a>
                </li>
                <li>
                    <a title="冻豆腐炖娃娃菜" href="https://home.meishichina.com/recipe-432228.html" target="_blank">
                        <span class="copyright">独家</span>
                        <i>
                            <img alt="冻豆腐炖娃娃菜" class="imgLoad" src="https://i3.meishichina.com/attachment/recipe/2018/12/18/2018121815450968108169724956.jpg?x-oss-process=style/c320" style="display: block;">
                        </i>
                        <p>冻豆腐炖娃娃菜</p>
                    </a>
                    <a title="柳絮1982" href="https://home.meishichina.com/space-563830.html" target="_blank" class="u">柳絮1982</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<script src="../layui/layui.js"></script>
<script>
    layui.use('carousel', function(){
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#test1'
            ,width: '100%' //设置容器宽度
            ,arrow: 'always' //始终显示箭头
            //,anim: 'updown' //切换动画方式
        });
    });
</script>
</body>
</html>
