<!doctype html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>个人中心 - 美食天下</title>
  <meta name="renderer" content="webkit">
  <meta name="keywords" content="">
  <meta name="description" content="" />
  <link rel="shortcut icon" href="https://static.meishichina.com/v6/img/lib/f.ico" />
  <link rel="apple-touch-icon" href="https://static.meishichina.com/v6/img/lib/wapico.png" />

  <link rel="stylesheet" type="text/css" href="../public/stylesheets/personal/style1.css">
  <link rel="stylesheet" type="text/css" href="../public/stylesheets/personal/style2.css">
  <link rel="stylesheet" type="text/css" href="../public/stylesheets/personal/style3.css">

</head>

<body>
  <!--上面导航栏-->
<div class="top-bar" id="J_top_bar">
  <ul class="bar-left left">
    <li><a title="美食天下" href="homePage2.html" target="_blank" class="top_bar_logo">首页</a></li>
    <li><a title="菜谱" target="_blank" href="menu.html">菜谱</a></li>
    <li><a title="社区" target="_blank" href="k_saytit.html">社区</a></li>
  </ul>

  <div id="J_top_bar_user">
      <li class="bar-add J_down bar-item">
        <div class="bar-text"><img width="18" height="18" src="//static.meishichina.com/v6/img/lib/nr1.png">发布</div>
        <div class="bar-box">
          <ul>
            <li class="bar-box-item-1"><a href="createTopic.html" target="_blank" class="J_barLogin">发话题</a></li>
          </ul>
        </div>
      </li>
  </div>

</div>

<!-- 主框架-->
<div class="w_main clear">

  <div class="mod_left">
    <div class="menu_wrap">
      <ul>
        <li>
          <a class=on href="javascript:void(0)">个人<br>中心</a>
        </li>
        <li>
          <a href="Topic.html">话题</a>
        </li>
        <li>
          <a href="">收藏</a>
        </li>
        <li>
          <a href="Setting.html">账户<br>设置</a>
        </li>
        <li>
          <a href="">退出</a>
        </li>
      </ul>
    </div>

  </div>

  <!-- 右侧 -->
  <div class="mod_right">
    <div>
      <img src="E:\PhpstormProjects\untitled\src\img\WeChat Image_20181010135720.jpg" height="150">
    </div>

    <div class="home_left mt30">
      <div class="ui_title">
        <div class="ui_title_wrap" id="J_feed_nav">
          <a href="javascript:void(0);" data-type="uid" data-uid="11236124" class="on">我的动态</a>
        </div>
      </div>
    </div>
    <!-- 无数据 -->
    <div class="ui_newlist_1 get_num mt60 clear" id="J_list">
        <div class="ui_no_data">
            <!-- 结合用户修改 -->
            <p>
                您还没有发布新话题噢，快点击这里<a href="createTopic.html">发布新话题</a>吧！
            </p>
        </div>
    </div>
    <!-- 有数据 -->
    <div class="ui_list_5 mt10" id="J_feed_wrap">
        <ul id="J_feed_list">
            <li style="">
                <div class="subline">
                    <div class="subtitle">
                      <!--动态获取用户名-->
                      <a href="https://home.meishichina.com/space-11236124.html" target="_blank">Sam_THdeYf </a>发布了话题
                    </div>
                </div>
                <div class="subcontent img_120">
                    <!--照片可有可无
                    <div class="pic"> <a href="https://home.meishichina.com/recipe-432689.html" target="_blank"> <img
                                src="https://i8.meishichina.com/attachment/recipe/2018/12/20/20181220154527867051848611236124.jpg?x-oss-process=style/c320"
                                width="120" height="120" alt="蛋炒饭"> </a> </div>
                    -->
                    <div class="detail">
                        <!--动态获取-->
                        <h4>蛋炒饭</h4>
                        <p>真好吃！！！</p>
                    </div>
                </div>
            </li>

        </ul>
    </div>

  </div>
  <!-- 右侧结束 -->
</div>

</body>

</html>
