<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>个人中心 - 美食天下</title>
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="">
    <meta name="description" content="" />
    <link rel="shortcut icon" href="https://static.meishichina.com/v6/img/lib/f.ico" />
    <link rel="apple-touch-icon" href="https://static.meishichina.com/v6/img/lib/wapico.png" />

    <link rel="stylesheet" type="text/css" href="../public/stylesheets/personal/style1.css">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/personal/style2.css">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/personal/style3.css">

</head>

<body>
    <!--上面导航栏-->
    <div class="top-bar" id="J_top_bar">
        <ul class="bar-left left">
            <li><a title="美食天下" href="homePage2.html" target="_blank" class="top_bar_logo">首页</a></li>
            <li><a title="菜谱" target="_blank" href="menu.html">菜谱</a></li>
            <li><a title="社区" target="_blank" href="k_saytit.html">社区</a></li>
        </ul>

        <div id="J_top_bar_user">
            <li class="bar-add J_down bar-item">
                <div class="bar-text"><img width="18" height="18" src="//static.meishichina.com/v6/img/lib/nr1.png">发布</div>
                <div class="bar-box">
                    <ul>
                        <li class="bar-box-item-1"><a href="createTopic.html" target="_blank" class="J_barLogin">发话题</a></li>
                    </ul>
                </div>
            </li>
        </div>

    </div>

    <!-- 主框架-->
    <div class="w_main clear">

        <div class="mod_left">
            <div class="menu_wrap">
                <ul>
                    <li>
                        <a href="personal.html"></a>个人<br>中心</a>
                    </li>
                    <li>
                        <a href="Topic.html">话题</a>
                    </li>
                    <li>
                        <a href="">收藏</a>
                    </li>
                    <li>
                        <a class=on href="javascript:void(0)">账户<br>设置</a>
                    </li>
                    <li>
                        <a href="">退出</a>
                    </li>
                </ul>
            </div>

        </div>

        <!-- 右侧 -->
        <div class="mod_right">

            <div id="mod_location">
                <div class="mod_location clear">
                    <div class="left">
                        <a href="javascript:void(0)" class="on">个人资料</a>
                    </div>
                </div>
            </div>

            <form action="/center/my_settings_profile/" id="J_form" enctype="multipart/form-data" method="post">

                <div class="mr_edit mr_edit_center clear">
                    <ul>
                        <li>
                            <label>头像</label><br>
                            <img class="imgLoad" src="https://i5.meishichina.com/data/avatar/011/23/61/24_avatar_big.jpg?x-oss-process=style/c180&amp;v=1545756807"
                                width="120" height="120" style="display: block;"><br><input name="avatarpic" class="inputS"
                                type="file">

                        </li>

                        <li>
                            <label>性别</label><br>
                            <input type="hidden" id="things_type1" name="sex" value="2">
                            <div class="things_type1 clear">
                                <span data-value="1">&nbsp;&nbsp;男&nbsp;&nbsp;</span>
                                <span data-value="2" class="on">&nbsp;&nbsp;女&nbsp;&nbsp;</span>
                                <span data-value="">&nbsp;保密&nbsp;</span>
                            </div>
                        </li>

                        <li><label>个人签名</label><br>
                            <input name="sign" class="inputL" type="text" id="J_sign" value="">
                        </li>
                        <!--
                        <input name="dob" type="hidden" class="" value="9024070754">
                        <input name="uiue" type="hidden" class="" value="11236124">
                        -->
                    </ul>
                    <input name="save_submit" value="保存修改" class="btn1" type="submit">
                </div>

            </form>
        </div>
        <!-- 右侧结束 -->
    </div>

</body>

</html>
